// VARIABLES
$--primary-color: #008b8b;
$--text-color: #5e5873;
$--bg-color: #f8f8f8;
$--bg-block-header-color: #f3f2f7;
$--bg-block-color: #ffffff;
$--header-color: #ffffff;

$--dark-text-color: #ffffff;
$--dark-label-color: #b4b4b4;
$--dark-bg-color: #222222;
$--dark-bg-block-header-color: #272727;
$--dark-bg-block-color: #2d2d2d;
$--dark-header-color: #2a2a2a;

body.dark-theme {
  .form-control,
  .form-check-input {
    border-color: #616161;
  }
}

body.dark-theme {
  color: $--dark-text-color !important;
  background-color: $--dark-bg-color;
  .btn {
    &.btn-outline-secondary {
      color: #fff;
      &:hover {
        color: $--text-color;
      }
    }
  }
  .section {
    .block {
      &__header {
        border-bottom: 1px solid rgba(235, 233, 241, 0.15);
      }
    }
  }
  .enter {
    &-bg {
      background-color: #262626 !important;
    }
  }
  .header {
    background-color: $--dark-header-color;
  }
  .add-patient {
    .form-select,
    .form-control {
      background-color: #383838 !important;
      color: #fff;
      border: none;
    }
    .form-select {
      background: url("../images/arrow-down.png") no-repeat right 0.75rem center /
        10px;
    }
    .date {
      .input-group > *:not(:last-child) {
        border-right: 1px solid rgba($color: #dcdbe2, $alpha: 0.1) !important;
      }
    }
  }
  .pagination {
    background-color: #373737;
    .page-item {
      .page-link {
        color: #fff;
        background-color: transparent;
      }
      &.active {
        .page-link {
          background-color: $--primary-color !important;
        }
      }
      &:hover {
        .page-link {
          color: $--primary-color;
        }
      }
      .page-link {
        border: none !important;
      }
    }
  }
  .add-patient {
    .block {
      &__header {
        background-color: $--dark-bg-block-header-color;
      }
      &__body {
        background-color: $--dark-bg-block-color;
      }
    }
  }
  .history {
    &__content:not(:last-child) {
      border-bottom: 1px solid rgba(235, 233, 241, 0.15);
    }
  }
  .form-control[disabled] {
    background-color: #424242 !important;
    color: #9c9ba1 !important;
  }
}
