// VARIABLES
$--primary-color: #008b8b;
$--text-color: #5e5873;
$--bg-color: #f8f8f8;
$--bg-block-header-color: #f3f2f7;
$--bg-block-color: #ffffff;
$--header-color: #ffffff;

$--dark-text-color: #ffffff;
$--dark-label-color: #b4b4b4;
$--dark-bg-color: #222222;
$--dark-bg-block-header-color: #272727;
$--dark-bg-block-color: #2d2d2d;
$--dark-header-color: #2a2a2a;

// YOUR INITIAL STATES
$containerWidth: 1400px;
$maxWidth: 1440; // Ширина макета

.border {
  border: 1px solid red;
}

a {
  text-decoration: none;
  color: $--primary-color;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-control:focus,
.btn:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.buttons {
  display: flex;
}

.btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 16px !important;
  &.btn-success {
    background-color: $--primary-color;
    font-size: 14px;
    color: #fff;
    &:hover {
      background-color: darken($color: $--primary-color, $amount: 3);
    }
  }
  &.btn-outline-secondary {
    font-size: 13px;
    border: 1px solid #c4c4c4;
    color: $--text-color;
    &:hover {
      background-color: #fff;
      color: $--text-color;
    }
  }
}

.form-control,
.form-check-input {
  background-color: transparent;
  font-size: 14px;
}

body.light-theme {
  .form-control,
  .form-check-input {
    border-color: #d8d6de;
  }
}

.toggle-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 40px;
  transition: background-color 0.3s;
}
.switch::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  left: 1px;
  border-radius: 38px;
  background-color: #222;
  transition: transform 0.3s;
}
input:checked + .switch::after {
  transform: translateX(20px);
  background-color: #fff;
}
input:checked + .switch {
  background-color: #222;
  border: 1px solid #fff;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;

  .enter {
    width: 100%;
    height: 100%;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: $--bg-color;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
      }
    }
    .container {
      height: 100%;
      .row {
        height: 100%;
        .col-4 {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .enter {
    padding: 20px 0;
    overflow-y: scroll;
    form {
      height: 100%;
      .form__wrapper {
      }
      h1 {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
      }
      p {
        margin-bottom: 22px;
        font-size: 15px;
      }
      .form-check {
        margin-top: 12px;
        margin-bottom: 14px;
      }
      .form-label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        .forgot {
          color: $--primary-color;
        }
      }
      .reg-text {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

body.light-theme {
  color: $--text-color !important;
  background-color: $--bg-color;
  .form-control[disabled] {
    background-color: #e7e6ea !important;
    color: #9c9ba1 !important;
  }
  .section {
    .block {
      &__header {
        border-bottom: 1px solid #eeeeee;
      }
    }
  }
  .enter {
    background-color: #fff;
    &-bg {
      background-color: $--bg-color;
    }
  }
  .header {
    background-color: $--header-color;
  }
  .add-patient {
    .form-control {
      background-color: #fff;
    }
  }
  .rasp {
    .table {
      thead {
        background-color: $--bg-block-header-color;
      }
    }
  }
  .pagination {
    background-color: #fff;
  }
  .add-patient {
    .block {
      &__header {
        background-color: $--bg-block-header-color;
      }
      &__body {
        background-color: #fff;
      }
    }
  }
  .history {
    &__content:not(:last-child) {
      border-bottom: 1px solid #eeeeef;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 13px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  .nav-item {
    font-size: 15px;
    .nav-link {
      &.active {
        color: $--primary-color;
      }
    }
  }
  &__logo {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    &__info {
      text-align: right;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    &__avatar {
    }
    &__link {
      color: $--primary-color;
    }
  }
}

.add-patient {
  padding: 30px 0;
  .doctor,
  .date {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.rasp {
  .table {
    border-radius: 10px;
    overflow: hidden;
    & > :not(:first-child) {
      border-top: none;
    }
    thead {
      th {
        font-weight: 500 !important;
        font-size: 13px;
      }
    }
    tbody {
      font-size: 14px;
    }
  }
  .pagintaion__wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination {
    display: inline-flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    overflow: hidden;
    .page-item {
      .page-link {
        border-radius: 50% !important;
        font-weight: 500;
      }
      &.active {
        &:hover {
          .page-link {
            color: #fff;
          }
        }
        .page-link {
          background-color: $--primary-color !important;
        }
      }
      &:hover {
        .page-link {
          color: $--primary-color;
        }
      }
      .page-link {
        border: none !important;
      }
    }
  }
}

.section {
  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  .block {
    height: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    &__header {
      padding: 20px;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
    }
    &__body {
      height: 100%;
      padding: 20px;
      font-size: 14px;
    }
  }
}

.history {
  padding: 0 !important;
  &__content {
    padding: 20px;
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 600;
  }
}

.letter__wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  .letter {
    padding: 0 20px;
    width: 600px;
    height: 100%;
    background-color: #fff;
    &__header {
      padding: 25px 0;
      border-bottom: 1px solid #e2e2e2;
      img {
        width: 150px;
        height: 100%;
      }
    }
    &__content {
      padding-top: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .letter__img {
        margin-bottom: 30px;
        img {
          width: 400px;
          height: 100%;
        }
      }
      .letter__title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
      }
      .letter__text {
        margin-bottom: 48px;
        padding: 0 43px;
        font-size: 14px;
        span {
          color: $--primary-color;
        }
      }
      .letter__contact {
        p {
          font-size: 15px;
        }
        a {
          font-size: 24px;
        }
      }
    }
  }
}
