*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 1;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  color: #3d3d3f;
  background-color: #f9faff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

._container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  transition: background 0.15s ease-out;
  outline: none;
  border: none;
  cursor: pointer;
}
.button.primary {
  background: #f5764e;
  color: #fff;
}
.button.primary:hover {
  background: #ff946c;
}
.button.primary:active {
  background: #e1623a;
}

.section {
  padding-top: 75px;
}
.section--title {
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .section--title {
    font-size: calc(
      24px + 27.2 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .section--title {
    font-size: calc(24px + 16 * (100vw / 1920));
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(61, 61, 63, 0.2);
}

.burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}
.burger span {
  width: 100%;
  height: 3px;
  background-color: #f5764e;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}
.burger.activated {
  align-items: center;
}
.burger.activated span {
  background-color: #f5764e;
}
.burger.activated span:nth-child(1) {
  width: 22px;
  transform: translateY(7px) rotate(45deg);
}
.burger.activated span:nth-child(2) {
  transform: translateX(100px);
}
.burger.activated span:nth-child(3) {
  width: 22px;
  transform: translateY(-10px) rotate(-45deg);
}

.drawer {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-310px);
  transition: transform 0.5s cubic-bezier(0.22, 0.95, 0.37, 1.1);
  width: 291px;
  padding-top: 107px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), -8px 0px 16px rgba(0, 0, 0, 0.8);
}
@media (min-width: 899px) {
  .drawer {
    display: none;
  }
}
.drawer .divider {
  transform: scale(0);
  transition: transform 0.2s;
  transition-delay: 0.8s;
}
.drawer.open {
  transform: translateX(-50px);
}
.drawer.open .divider {
  transform: scale(1);
}
.drawer__body {
  width: 100%;
}
.drawer__list {
  padding-top: 24px;
}
.drawer__list > *:not(:last-child) {
  display: block;
  margin-bottom: 24px;
}
.drawer__link {
  font-weight: 500;
  font-size: 18px;
}
.drawer__link:hover {
  color: #f5764e;
}

.header {
  padding-top: 30px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 1002;
}
.header .nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 899px) {
  .header .nav {
    display: none;
  }
}
.header .nav__list {
  display: flex;
  align-items: center;
}
.header .nav__list > *:not(:last-child) {
  display: block;
  margin-right: 60px;
}
.header .nav__list .nav__link {
  transition: color 0.15s;
  font-weight: 500;
}
.header .nav__list .nav__link:hover {
  color: #f5764e;
}
@media (max-width: 899px) {
  .header .header__contact-us {
    display: none;
  }
}
@media (min-width: 899px) {
  .header .header__burger {
    display: block;
  }
}

.top {
  position: relative;
  z-index: 5;
}
@media (max-width: 599px) {
  .top {
    padding: 40px 0;
  }
  .top .button {
    width: 100%;
  }
}
.top__container {
  background: transparent url("../img/bg.png") no-repeat center right/contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .top__container {
    background: none;
  }
}
.top__content {
  width: 50%;
}
@media (max-width: 899px) {
  .top__content {
    width: 100%;
  }
}
.top__content > *:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 599px) {
  .top__content > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
.top__content--title {
  font-weight: bold;
}
@media (max-width: 767px) {
  .top__content--title {
    font-size: calc(
      34px + 64.6 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .top__content--title {
    font-size: calc(34px + 38 * (100vw / 1920));
  }
}
@media (min-width: 1428px) {
  .top__content--title {
    font-size: 72px;
  }
}
@media (max-width: 767px) {
  .top__content--text {
    font-size: calc(
      14px + 10.2 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .top__content--text {
    font-size: calc(14px + 6 * (100vw / 1920));
  }
}
@media (min-width: 1428px) {
  .top__content--text {
    font-size: 20px;
  }
}

.provide__content {
  margin-top: 50px;
  border: 1px solid #ebebeb;
  border-radius: 17px;
}
@media (max-width: 599px) {
  .provide__content {
    margin-top: 24px;
  }
}
.provide .cards__wrapper {
  padding: 26px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 912px) {
  .provide .cards__wrapper {
    flex-direction: column;
  }
}
@media (min-width: 912px) {
  .provide .cards__wrapper > *:not(:last-child) {
    border-right: 1px solid #ebebeb;
  }
}
@media (max-width: 912px) {
  .provide .cards__wrapper > *:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
}
.provide .cards .card {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.provide .cards .card__icon {
  width: 90px;
  height: 90px;
  padding: 12px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.provide .cards .card__title {
  margin-bottom: 12px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .provide .cards .card__title {
    font-size: calc(
      24px + 20.4 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .provide .cards .card__title {
    font-size: calc(24px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .provide .cards .card__text {
    font-size: calc(
      16px + 13.6 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .provide .cards .card__text {
    font-size: calc(16px + 8 * (100vw / 1920));
  }
}
.provide .cards .card.card--green .card__icon {
  background-color: #79e28a;
}
.provide .cards .card.card--blue .card__icon {
  background-color: #60daff;
}
.provide .cards .card.card--red .card__icon {
  background-color: #f37168;
}

.service .cards {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 912px) {
  .service .cards {
    flex-direction: column;
  }
}
.service .cards .card {
  padding: 24px;
  min-width: 270;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  text-align: center;
}
.service .cards .card > *:not(:last-child) {
  margin-bottom: 24px;
}
.service .cards .card:hover .card__icon,
.service .cards .card:hover .card__button {
  background-color: #f5764e;
}
.service .cards .card__icon {
  margin-top: -58px;
  padding: 26px;
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  background-color: #fff;
  transition: background 0.2s ease;
}
.service .cards .card__title {
  font-size: 24px;
  font-weight: bold;
}
.service .cards .card__text {
  font-size: 16px;
}
.service .cards .card__button {
  padding: 10px;
  background-color: #f1f1f5;
  border-radius: 50%;
  min-width: 42px;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.projects .cards .card {
  flex: 1 1 30%;
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
}
@media (max-width: 764px) {
  .projects .cards .card {
    flex: 1 1 40%;
  }
}
@media (max-width: 530px) {
  .projects .cards .card {
    flex: 1 1 100%;
  }
}
.projects .cards .card__img img {
  width: 100%;
}
.projects .cards .card__title {
  padding: 16px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 767px) {
  .projects .cards .card__title {
    font-size: calc(
      14px + 10.2 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .projects .cards .card__title {
    font-size: calc(14px + 6 * (100vw / 1920));
  }
}

.team .cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.team .cards .card {
  flex: 1;
  width: 267px;
  padding: 10px 14px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}
.team .cards .card__avatar {
  margin-bottom: 16px;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}
.team .cards .card__avatar img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -25px;
     object-position: 0 -25px;
  border-radius: 10px;
}
.team .cards .card__name {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}
.team .cards .card__position {
  margin-bottom: 16px;
  color: #999999;
  font-size: 14px;
}
.team .cards .card__social {
  display: flex;
  gap: 16px;
}

.contact-us .form {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.contact-us .form__group {
  flex: 1 1 40%;
}
@media (max-width: 425px) {
  .contact-us .form__group {
    flex: 1 1 100%;
  }
}
.contact-us .form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-us .form__input, .contact-us .form__textarea {
  width: 100%;
  padding: 12px 18px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
}
.contact-us .form__textarea {
  resize: none;
  height: 300px;
}
.contact-us .form__textarea-group {
  width: 100%;
}
@media (max-width: 425px) {
  .contact-us .form .button {
    width: 100%;
  }
}

.footer {
  margin-top: 100px;
}
.footer__row {
  padding: 26px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
@media (max-width: 992px) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__info {
  flex: 2;
}
.footer__subtitle {
  font-size: 16px;
  font-weight: bold;
}
.footer__text {
  font-size: 14px;
  color: #646464;
  line-height: 1.5;
}
.footer__social {
  display: flex;
  gap: 16px;
}
.footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__input {
  width: 100%;
  padding: 12px 18px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
}
.footer__privacy {
  width: 100%;
}
@media (min-width: 993px) {
  .footer__privacy {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
}
.footer .button {
  width: 100%;
}/*# sourceMappingURL=style.css.map */