.profile {
  padding: 50px 0;
  margin-bottom: 100px;
  border: 3px solid #faa420;
  border-radius: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 10px #fe743d;
          box-shadow: 0 4px 10px #fe743d;
}

@media (max-width: 993px) {
  .profile {
    padding: 100px 50px;
  }
}

@media (max-width: 601px) {
  .profile {
    padding: 20px;
  }
}

.profile #tab-1,
.profile #tab-2,
.profile #tab-3 {
  width: 100%;
  display: none;
}

.profile #tab-1:target,
.profile #tab-2:target,
.profile #tab-3:target {
  display: block;
}

.profile #tab-1 {
  padding: 0 50px;
}

@media (max-width: 769px) {
  .profile #tab-1 {
    padding: 0;
  }
}

.profile .block {
  width: 100%;
}

.profile .block__email {
  width: 100%;
}

.profile .block__email .form__label {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .block__email .form__label p {
  margin: 0 0 30px 25px;
  font-size: 18px;
  font-weight: normal;
  color: #545454;
}

.profile .block__email .form__label input {
  width: 40%;
  color: #001763;
  outline: none;
  border: none;
  background-color: #e3e1f6;
  height: 62px;
  border-radius: 24px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

.profile .block__email .form__label input::-webkit-input-placeholder {
  color: #001763;
}

.profile .block__email .form__label input:-ms-input-placeholder {
  color: #001763;
}

.profile .block__email .form__label input::-ms-input-placeholder {
  color: #001763;
}

.profile .block__email .form__label input::placeholder {
  color: #001763;
}

@media (max-width: 993px) {
  .profile .block__email .form__label input {
    width: 100%;
  }
}

.profile .block__password {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .block__password label {
  width: 40%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 769px) {
  .profile .block__password label {
    width: 100%;
  }
}

.profile .block__password label p {
  margin: 0 0 30px 25px;
  font-size: 18px;
  font-weight: normal;
  color: #545454;
}

.profile .block__password label input {
  width: 100%;
  color: #001763;
  outline: none;
  border: none;
  background-color: #e3e1f6;
  height: 62px;
  border-radius: 24px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

.profile .block__password label input::-webkit-input-placeholder {
  color: #001763;
}

.profile .block__password label input:-ms-input-placeholder {
  color: #001763;
}

.profile .block__password label input::-ms-input-placeholder {
  color: #001763;
}

.profile .block__password label input::placeholder {
  color: #001763;
}

@media (max-width: 769px) {
  .profile .block__password label input {
    width: 100%;
  }
}

.profile__navigation {
  padding: 0 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

@media (max-width: 769px) {
  .profile__navigation {
    padding: 0;
  }
}

.profile__navigation a {
  margin-bottom: 10px;
  color: #022ebf;
  padding: 10px 25px;
  border: 1px solid #bacdf0;
  border-radius: 50px;
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 993px) {
  .profile__navigation a {
    width: 100%;
  }
}

.profile__navigation .active {
  border: none;
  background-color: #faa420;
  color: #fff;
}

.profile__button {
  text-align: center;
  width: 40%;
  background-color: #346ed4;
  border-radius: 24px;
  padding: 17px 0;
  font-size: 24px;
  color: #fff;
}

@media (max-width: 993px) {
  .profile__button {
    width: 100%;
  }
}

.table__title {
  background-color: #f4f4f4;
}

.table__title, .table--item {
  padding: 10px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  color: #6f6f72;
}

@media (max-width: 769px) {
  .table__title, .table--item {
    font-size: 12px;
  }
}

@media (max-width: 601px) {
  .table__title, .table--item {
    padding: 10px 0;
  }
}

.table--item {
  color: #3a3a3a;
  font-size: 18px;
  font-weight: normal;
}

.table--item:nth-child(odd) {
  background-color: #f4f4f4;
}

@media (max-width: 425px) {
  .table--item {
    font-size: 12px;
  }
}

#tab-3 .table--item p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

#tab-3 .partner__link--title {
  margin-bottom: 30px;
  padding-left: 50px;
  color: #022ebf;
  font-size: 24px;
}

@media (max-width: 601px) {
  #tab-3 .partner__link--title {
    padding: 0;
  }
}

#tab-3 .partner__link xmp {
  white-space: break-spaces;
}

#tab-3 .partner__link p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

#tab-3 .minimal-text {
  color: #464648;
  font-size: 18px;
  font-weight: normal;
  padding-left: 50px;
}

@media (max-width: 601px) {
  #tab-3 .minimal-text {
    padding: 0;
  }
}
