@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 100%;
  padding: 0 100px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

.dropdown__menu {
  padding: 20px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.dropdown__menu a {
  font-size: 2em;
}

.dropdown__menu .dropdown--close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
}

.header {
  position: relative;
  z-index: 50;
  height: 100vh;
  padding: 25px 0;
  background: url("./../images/main-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container .header__menu {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .container .header__menu a {
  position: relative;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.header .container .header__menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f8e91c;
  bottom: -23px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .container .header__menu a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 601px) {
  .header .container .header__menu a {
    display: none;
  }
}

.header .container .header__menu--burger {
  margin-left: auto;
  margin-right: 5%;
  background-color: #f8e91c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

.header .container .header__menu--burger i {
  color: #000;
}

@media (min-width: 601px) {
  .header .container .header__menu--burger {
    display: none;
  }
}

@media (max-width: 601px) {
  .header .container .header__menu {
    background-color: #000000;
  }
}

.header .container .main {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header .container .main__title {
  font-size: calc(36px + 28 * ((100vw - 320px) / 960));
  font-weight: 900;
}

.header .container .main__text {
  font-size: calc(18px + 18 * ((100vw - 320px) / 960));
}

.header .container .main__button {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container .main__button a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  background-color: #f8e91c;
  color: #000;
  padding: 15px 0;
  font-size: 20px;
  border-radius: 5px;
}

@media (max-width: 601px) {
  .header .container .main__button a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.header .container .main__button a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.header .container .main__button a:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.works {
  padding: 50px 0;
  background-color: #fff;
}

.works__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.works .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .main__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  margin-bottom: 50px;
  width: 100%;
  height: 460px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .works .main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    height: 210px;
  }
}

.works .main__item img {
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.works .main__item:hover {
  background-color: #000;
}

.works .main__item:hover img {
  opacity: 0.5;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.works .main__item:hover .main__detail {
  -webkit-transform: perspective(2000px) rotateY(0deg);
          transform: perspective(2000px) rotateY(0deg);
}

.works .main__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.works .main__detail {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  border-radius: 10px 0 0 10px;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #f8e91c;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: perspective(2000px) rotateY(-90deg);
          transform: perspective(2000px) rotateY(-90deg);
}

@media (max-width: 425px) {
  .works .main__detail {
    width: 90%;
  }
}

.works .main__detail .detail__title {
  font-size: 24px;
  font-weight: bold;
}

.works .main__detail .detail__desc {
  font-size: 16px;
  color: #737373;
}

.works .main__detail a {
  margin-top: 20px;
  padding: 15px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background-color: #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  color: #fff;
}

@media (max-width: 1200px) {
  .works .main__detail a {
    width: 100%;
  }
}

.works .main__detail .date {
  margin-top: auto;
  font-size: 14px;
}

.contact {
  padding: 50px 0;
  background-color: #545454;
}

.contact__title {
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.contact .container .form {
  padding: 50px 20px;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .contact .container .form {
    width: 100%;
  }
}

.contact .container .form .main__inputs {
  position: relative;
}

.contact .container .form .main__inputs input {
  margin-bottom: 20px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid #545454;
}

.contact .container .form .main__btn {
  padding: 15px 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8e91c;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
