$color-primary: #f5764e;
$color-primary-hover: #ff946c;
$color-primary-active: #e1623a;
$color-border: #ebebeb;
$color-white: #fff;
$color-text: #3d3d3f;
$color-text-gray: #999999;
$color-card-green: #79e28a;
$color-card-blue: #60daff;
$color-card-red: #f37168;
