.appointments__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.appointments__title a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.appointments__title a i {
  margin-right: 15px;
}
.appointments__card {
  flex: 0 0 48%;
  height: 80vh;
  overflow-y: scroll;
}
