.appointments {
    padding: 0 60px 0 20px;
}

.appointments__title {
    padding: 15px 20px;
}

.appointments__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.appointments__more {
    text-align: center;
}

.appointments__more a {
    color: #50CAFF;
}