@font-face {
  font-family: 'DIN Pro';
  src: local("DIN Pro Regular"), local("DINPro-Regular"), url("./../fonts/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: local("DIN Pro Medium"), local("DINPro-Medium"), url("./../fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: local("DIN Pro Bold"), local("DINPro-Bold"), url("./../fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: local("DIN Pro Black"), local("DINPro Black"), url("./../fonts/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "DIN Pro";
  font-weight: 800;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 1;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

xmp {
  margin: 0;
}

#main-menu .col.telegram-logos {
  display: none;
}

#main-menu .col.telegram-logos .header__telegram {
  display: none;
}

@media (max-width: 768px) {
  #main-menu .col.telegram-logos .header__telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  #main-menu .col.telegram-logos {
    display: block;
  }
}

@media (max-width: 601px) {
  #main-menu .col.telegram-logos {
    display: none;
  }
}

.header {
  padding: 15px 0 30px 0;
}

.header__schedule {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__schedule p {
  margin-right: 5px;
  font-weight: normal;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .header__schedule {
    display: none;
  }
}

.header__telegram {
  margin-bottom: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__telegram a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 0.875rem;
}

.header__telegram a:last-child {
  margin: 0 10px;
}

.header__telegram a i {
  margin-right: 5px;
  font-size: 1.5em;
  color: #25a6de;
}

@media (max-width: 768px) {
  .header__telegram {
    display: none;
  }
}

.header__logo {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 769px) {
  .header__logo img {
    width: 80%;
  }
}

.header__logo p {
  font-size: 24px;
  margin-left: -10px;
  color: #032271;
}

@media (max-width: 768px) {
  .header__logo p {
    font-size: 16px;
  }
}

.header__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 769px) {
  .header__menu {
    display: none;
  }
}

.header__menu a {
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 1201px) {
  .header__menu a {
    font-size: 16px;
  }
}

@media (max-width: 993px) {
  .header__menu a {
    font-size: 12px;
  }
}

.header__menu .menu-active {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 50;
}

.header__menu .menu-active::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 45px;
  min-height: 45px;
  background-color: #fcd18f;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .menu__burger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 769px) {
  .header .menu__burger {
    display: none;
  }
}

.header .menu__burger .burger__btn {
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 500;
  border: 2px solid #faa420;
  border-radius: 10px;
}

.header .burger__link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: -9999px;
  background-color: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .burger__link .burger__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
}

.header .burger__link a {
  font-weight: 500;
  font-size: 18px;
  color: #303030;
  margin-bottom: 15px;
}

.top {
  background-color: #f9f9fa;
}

.top__title {
  background: #000 url("./../images/main-bg.jpg") no-repeat center/cover;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 48px;
  padding: 100px 0 450px;
}

@media (max-width: 769px) {
  .top__title {
    font-size: 24px;
  }
}

.top__text {
  margin: 50px 0;
  text-align: center;
  color: #001763;
  font-size: 24px;
  font-weight: normal;
}

.top .main {
  margin-top: -400px;
  padding: 50px 170px;
  border: 3px solid #faa420;
  border-radius: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 10px #fe743d;
          box-shadow: 0 4px 10px #fe743d;
}

@media (max-width: 993px) {
  .top .main {
    padding: 25px 50px;
  }
}

.top .main__give, .top .main__get {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media (max-width: 769px) {
  .top .main__give, .top .main__get {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 769px) {
  .top .main__get {
    margin-top: 30px;
  }
}

.top .main__title {
  color: #022ebf;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  white-space: nowrap;
}

.top .main .block .block__item {
  padding: 0 16px;
  margin-bottom: 18px;
  width: 100%;
  height: 75px;
  background-color: #e5e3f5;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.top .main .block .block__item:last-child {
  margin-bottom: 0;
}

.top .main .block .block__item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
}

.top .main .block .active {
  background-color: #ffb139;
}

.top .main .block .disable {
  opacity: 0.6;
}

.work {
  background-color: #f9f9fa;
}

.work__title {
  text-align: center;
  color: #f49400;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 33px;
}

.work .item {
  margin-bottom: 60px;
  color: #001763;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .item__icon {
  width: 170px;
  height: 107px;
  margin-bottom: 25px;
}

.work .item__title {
  margin-bottom: 40px;
}

.work .item__text {
  font-weight: normal;
}

.video {
  padding: 55px 0 40px;
}

.video iframe {
  width: 100%;
  height: 350px;
}

.partners {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.partners__title {
  margin: 50px 0;
  width: 100%;
  text-align: center;
  color: #001763;
  font-size: 24px;
}

.partners__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__logo img {
  max-width: 170px;
}

.partners .become__title {
  margin-bottom: 30px;
  color: #f49400;
  font-size: 48px;
}

.partners .become__subtitle {
  margin-bottom: 25px;
  color: #001763;
  font-size: 24px;
}

.partners .become__text {
  margin-bottom: 40px;
  width: 75%;
  color: #001763;
  font-size: 24px;
  font-weight: normal;
}

.partners .become__btn {
  margin-bottom: 40px;
  padding: 15px 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background-color: #3a74d6;
  color: #fff;
  font-size: 24px;
}

@media (max-width: 993px) {
  .partners .become__btn {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .partners .become__btn {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .partners .become__btn {
    width: 100%;
  }
}

.partners__desc {
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 500;
}

.footer {
  padding: 80px 0 60px;
  background-color: #ffb139;
}

.footer__copyright {
  margin-bottom: 20px;
  color: #001763;
  font-size: 18px;
  font-weight: 500;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 769px) {
  .footer__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo img {
  max-width: 90px;
  margin-right: 20px;
}

.footer__logo img:last-child {
  margin-right: 0;
}

.navigation {
  margin: 40px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #545454;
}

.navigation a {
  font-weight: normal;
}

.navigation i {
  margin: 0 5px;
}

.navigation p {
  font-weight: 500;
}

.policy__title {
  background: #000 url("./../images/main-bg.jpg") no-repeat center/cover;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 48px;
  padding: 75px 0;
}

@media (max-width: 769px) {
  .policy__title {
    font-size: 24px;
  }
}

.policy__block--title {
  margin-left: 75px;
  color: #022ebf;
  font-size: 24px;
}

@media (max-width: 601px) {
  .policy__block--title {
    margin-left: 0;
  }
}

.policy__block--text {
  margin: 42px 0;
  color: #545454;
  font-size: 18px;
  font-weight: normal;
}

.contacts {
  background-color: #f9f9fa;
}

.contacts__title {
  background: #000 url("./../images/main-bg.jpg") no-repeat center/cover;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 48px;
  padding: 75px 0;
}

@media (max-width: 769px) {
  .contacts__title {
    font-size: 24px;
  }
}

.contacts .block {
  margin-bottom: 43px;
}

.contacts .block__title {
  text-align: center;
  font-size: 24px;
  color: #6f6f72;
  margin-bottom: 43px;
}

@media (max-width: 993px) {
  .contacts .block__title {
    margin-bottom: 21px;
  }
}

.contacts .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .block__text--icon i, .contacts .block__text--icon img {
  font-size: 200%;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.contacts .block__text p {
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: normal;
  font-size: 18px;
}

.contacts__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 200px;
}

.contacts__reviews a {
  font-size: 18px;
  color: #3858c9;
  font-weight: normal;
  text-decoration: underline;
}

.contacts__reviews a i {
  margin-right: 35px;
  margin-bottom: 10px;
  color: #faa41f;
  font-size: 150%;
}

.login .form {
  padding: 50px;
  margin-bottom: 100px;
  border: 3px solid #faa420;
  border-radius: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 10px #fe743d;
          box-shadow: 0 4px 10px #fe743d;
}

@media (max-width: 993px) {
  .login .form {
    padding: 100px 50px;
  }
}

@media (max-width: 601px) {
  .login .form {
    padding: 20px;
  }
}

.login .form .sign-up,
.login .form .sign-in {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-bottom: 30px;
}

.login .form .sign-up .title,
.login .form .sign-in .title {
  margin: 0 0 100px 25px;
  color: #6f6f72;
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 769px) {
  .login .form .sign-up,
  .login .form .sign-in {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .login .form .sign-up .title,
  .login .form .sign-in .title {
    margin: 0 0 100px 0;
  }
}

.login .form label {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .form label p {
  margin: 0 0 30px 25px;
  font-size: 18px;
  font-weight: normal;
  color: #545454;
}

.login .form label input {
  outline: none;
  border: none;
  background-color: #f6f6f6;
  height: 62px;
  border-radius: 24px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: normal;
}

.login .form label input::-webkit-input-placeholder {
  color: #545454;
}

.login .form label input:-ms-input-placeholder {
  color: #545454;
}

.login .form label input::-ms-input-placeholder {
  color: #545454;
}

.login .form label input::placeholder {
  color: #545454;
}

.login .form label .form__captcha {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login .form label .form__captcha .input--captcha {
  width: 60%;
}

.login .form label .form__captcha .captcha__img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .form label .form__captcha img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 769px) {
  .login .form label p {
    margin: 0 0 30px 0;
  }
}

.login .form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login .form .remember p {
  margin: 0 0 0 12.5px;
}

.login .form__button {
  text-align: center;
  width: 80%;
  background-color: #faa420;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 0;
  border-radius: 24px;
}

@media (max-width: 601px) {
  .login .form__button {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */