$width: 1920;

@font-face {
   font-family: 'DIN Pro';
   src: local('DIN Pro Regular'), local('DINPro-Regular'),
      url('./../fonts/DINPro.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'DIN Pro';
   src: local('DIN Pro Medium'), local('DINPro-Medium'),
      url('./../fonts/DINPro-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'DIN Pro';
   src: local('DIN Pro Bold'), local('DINPro-Bold'),
      url('./../fonts/DINPro-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'DIN Pro';
   src: local('DIN Pro Black'), local('DINPro Black'),
      url('./../fonts/DINPro-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   transition: all 0.2s;
}

body {
   position: relative;
   margin: 0;
   padding: 0;
   font-family: "DIN Pro";
   font-weight: 800;
   line-height: 30px;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   line-height: 1;
}

img {
   width: 100%;
}

a {
   color: inherit;
   &:hover {
      text-decoration: none;
      color: inherit;
   }
}

xmp {
   margin: 0;
}

// MIXINS ============================================
// ===================================================

// ===================================================

// HEADER ============================================
// ===================================================
#main-menu {
   .col.telegram-logos {
      display: none;
      .header__telegram {
         display: none;
         @media (max-width: 768px) {
            display: flex;
         }
      }
      @media (max-width: 768px) {
         display: block;
      }
      @media (max-width: 601px) {
         display: none;
      }
   }
}
.header {
   padding: 15px 0 30px 0;
   &__schedule {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      p {
         margin-right: 5px;
         font-weight: normal;
         font-size: 0.875rem;
      }
      @media (max-width: 768px) {
         display: none;
      }
   }
   &__telegram {
      margin-bottom: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
         display: flex;
         align-items: center;
         font-weight: normal;
         font-size: 0.875rem;
         &:last-child {
            margin: 0 10px;
         }
         i {
            margin-right: 5px;
            font-size: 1.5em;
            color: #25a6de;
         }
      }
      @media (max-width: 768px) {
         display: none;
      }
   }
   &__logo {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
         width: 50%;
         object-fit: cover;
         object-position: center;
         @media (max-width: 769px) {
            width: 80%;
         }
      }
      p {
         font-size: 24px;
         margin-left: -10px;
         color: #032271;
         @media (max-width: 768px) {
            font-size: 16px;
         }
      }
   }
   &__menu {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @media (max-width: 769px) {
         display: none;
      }
      a {
         font-size: 20px;
         font-weight: normal;
         @media (max-width: 1201px) {
            font-size: 16px;
         }
         @media (max-width: 993px) {
            font-size: 12px;
         }
      }
      .menu-active {
         position: relative;
         display: inline-flex;
         z-index: 50;
         &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            min-width: 45px;
            min-height: 45px;
            background-color: #fcd18f;
            border-radius: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
   .menu__burger {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: 769px) {
         display: none;
      }
      .burger__btn {
         text-transform: uppercase;
         padding: 5px 10px;
         display: inline-block;
         font-weight: 500;
         border: 2px solid #faa420;
         border-radius: 10px;
      }
   }
   .burger__link {
      .burger__close {
         position: absolute;
         top: 20px;
         right: 20px;
         font-size: 2em;
      }
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 9999;
      top: 0;
      left: -9999px;
      background-color: #fff;
      padding: 15px;

      display: flex;
      flex-direction: column;
      a {
         font-weight: 500;
         font-size: 18px;
         color: #303030;
         margin-bottom: 15px;
      }
   }
}
// ===================================================
// TOP ===============================================
// ===================================================
.top {
   background-color: #f9f9fa;
   &__title {
      background: #000 url('./../images/main-bg.jpg') no-repeat center / cover;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      font-size: 48px;
      padding: 50px 0 450px;
      @media (max-width: 769px) {
         font-size: 24px;
      }
   }
   &__text {
      margin: 50px 0;
      text-align: center;
      color: #001763;
      font-size: 24px;
      font-weight: normal;
   }
   .main {
      margin-top: -400px;
      padding: 50px 170px;
      border: 3px solid #faa420;
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: 0 4px 10px #fe743d;
      @media (max-width: 993px) {
         padding: 25px 50px;
      }
      &__give,
      &__get {
         flex: 0 1 40%;
         @media (max-width: 769px) {
            flex: 0 1 100%;
         }
      }
      &__get {
         @media (max-width: 769px) {
            margin-top: 30px;
         }
      }
      &__title {
         color: #022ebf;
         font-size: 24px;
         font-weight: bold;
         margin-bottom: 30px;
         white-space: nowrap;
      }
      .block {
         .block__item {
            padding: 0 16px;
            margin-bottom: 18px;
            width: 100%;
            height: 75px;
            background-color: #e5e3f5;
            border-radius: 24px;
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            text-overflow: ellipsis;
            &:last-child {
               margin-bottom: 0;
            }
            img {
               max-width: 50px;
               max-height: 50px;
               margin-right: 20px;
            }
         }
         .active {
            background-color: #ffb139;
         }
         .disable {
            opacity: 0.6;
         }
      }
   }
}
// ===================================================
// WORK ==============================================
// ===================================================
.work {
   background-color: #f9f9fa;
   &__title {
      text-align: center;
      color: #f49400;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 33px;
   }
   .item {
      margin-bottom: 60px;
      color: #001763;
      font-size: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icon {
         width: 170px;
         height: 107px;
         margin-bottom: 25px;
      }
      &__title {
         margin-bottom: 40px;
      }
      &__text {
         font-weight: normal;
      }
   }
}
// ===================================================
// VIDEO =============================================
// ===================================================
.video {
   padding: 55px 0 40px;
   iframe {
      width: 100%;
      height: 350px;
   }
}
// ===================================================
// PARTNERS ==========================================
// ===================================================
.partners {
   background-color: #f2f2f2;
   padding-bottom: 60px;
   &__title {
      margin: 50px 0;
      width: 100%;
      text-align: center;
      color: #001763;
      font-size: 24px;
   }
   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      img {
         max-width: 170px;
      }
   }
   .become {
      &__title {
         margin-bottom: 30px;
         color: #f49400;
         font-size: 48px;
      }
      &__subtitle {
         margin-bottom: 25px;
         color: #001763;
         font-size: 24px;
      }
      &__text {
         margin-bottom: 40px;
         width: 75%;
         color: #001763;
         font-size: 24px;
         font-weight: normal;
      }
      &__btn {
         margin-bottom: 40px;
         padding: 15px 30px;
         width: 50%;
         display: flex;
         align-items: center;
         justify-content: space-between;

         border-radius: 20px;
         background-color: #3a74d6;
         color: #fff;
         font-size: 24px;
         @media (max-width: 993px) {
            width: 100%;
         }
         @media (max-width: 769px) {
            width: 50%;
         }
         @media (max-width: 600px) {
            width: 100%;
         }
      }
   }
   &__desc {
      color: #3a3a3a;
      font-size: 18px;
      font-weight: 500;
   }
}
// ===================================================
// FOOTER ============================================
// ===================================================
.footer {
   padding: 80px 0 60px;
   background-color: #ffb139;
   &__copyright {
      margin-bottom: 20px;
      color: #001763;
      font-size: 18px;
      font-weight: 500;
   }
   &__logo {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      @media (max-width: 769px) {
         justify-content: flex-start;
      }
      img {
         max-width: 90px;
         margin-right: 20px;
         &:last-child {
            margin-right: 0;
         }
      }
   }
}
// ===================================================
// NAVIGATION ========================================
// ===================================================
.navigation {
   margin: 40px 0 80px;
   display: flex;
   align-items: center;
   font-size: 16px;
   color: #545454;
   a {
      font-weight: normal;
   }
   i {
      margin: 0 5px;
   }
   p {
      font-weight: 500;
   }
}
// ===================================================
// POLICY ============================================
// ===================================================
.policy {
   &__title {
      background: #000 url('./../images/main-bg.jpg') no-repeat center / cover;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      font-size: 48px;
      padding: 75px 0;

      @media (max-width: 769px) {
         font-size: 24px;
      }
   }
   &__block {
      &--title {
         margin-left: 75px;
         color: #022ebf;
         font-size: 24px;
         @media (max-width: 601px) {
            margin-left: 0;
         }
      }
      &--text {
         margin: 42px 0;
         color: #545454;
         font-size: 18px;
         font-weight: normal;
      }
   }
}
// ===================================================
// CONTACTS ==========================================
// ===================================================
.contacts {
   background-color: #f9f9fa;
   &__title {
      background: #000 url('./../images/main-bg.jpg') no-repeat center / cover;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      font-size: 48px;
      padding: 75px 0;

      @media (max-width: 769px) {
         font-size: 24px;
      }
   }
   .block {
      margin-bottom: 43px;
      &__title {
         text-align: center;
         font-size: 24px;
         color: #6f6f72;
         margin-bottom: 43px;
         @media (max-width: 993px) {
            margin-bottom: 21px;
         }
      }
      &__text {
         display: flex;
         align-items: center;
         justify-content: center;
         &--icon {
            i, img {
               font-size: 200%;
               margin-right: 20px;
               width: 30px;
               height: 30px;
            }
         }
         p {
            color: #545454;
            display: flex;
            flex-direction: column;
            font-weight: normal;
            font-size: 18px;
         }
      }
   }
   &__reviews {
      display: flex;
      flex-direction: column;
      margin-bottom: 200px;
      a {
         font-size: 18px;
         color: #3858c9;
         font-weight: normal;
         text-decoration: underline;
         i {
            margin-right: 35px;
            margin-bottom: 10px;
            color: #faa41f;
            font-size: 150%;
         }
      }
   }
}
// ===================================================
// LOGIN =============================================
// ===================================================
.login {
   .form {
      padding: 50px;
      margin-bottom: 100px;
      border: 3px solid #faa420;
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: 0 4px 10px #fe743d;

      @media (max-width: 993px) {
         padding: 100px 50px;
      }
      @media (max-width: 601px) {
         padding: 20px;
      }
      .sign-up,
      .sign-in {
         flex: 0 1 40%;
         margin-bottom: 30px;
         .title {
            margin: 0 0 100px 25px;
            color: #6f6f72;
            font-size: 24px;
            font-weight: 900;
         }
         @media (max-width: 769px) {
            flex: 0 1 100%;
            .title {
               margin: 0 0 100px 0;
            }
         }
      }
      label {
         margin-bottom: 40px;
         display: flex;
         flex-direction: column;
         p {
            margin: 0 0 30px 25px;
            font-size: 18px;
            font-weight: normal;
            color: #545454;
         }
         input {
            outline: none;
            border: none;
            background-color: #f6f6f6;
            height: 62px;
            border-radius: 24px;
            padding-left: 25px;
            font-size: 18px;
            font-weight: normal;
            &::placeholder {
               color: #545454;
            }
         }
         .form__captcha {
            height: 62px;
            display: flex;
            flex-wrap: wrap;
            .input--captcha {
               width: 60%;
            }
            .captcha__img {
               width: 30%;
               display: flex;
               align-items: center;
               justify-content: center;
            }
            img {
               object-fit: cover;
               object-position: center;
            }
         }
         @media (max-width: 769px) {
            p {
               margin: 0 0 30px 0;
            }
         }
      }
      .remember {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         flex-direction: row;
         p {
            margin: 0 0 0 12.5px;
         }
      }
      &__button {
         text-align: center;
         width: 80%;
         background-color: #faa420;
         color: #fff;
         font-size: 24px;
         font-weight: normal;
         padding: 15px 0;
         border-radius: 24px;
         @media (max-width: 601px) {
            width: 100%;
         }
      }
   }
}
// ===================================================