.profile {
   padding: 50px 0;
   margin-bottom: 100px;
   border: 3px solid #faa420;
   border-radius: 30px;
   background-color: #fff;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
   flex-wrap: wrap;
   box-shadow: 0 4px 10px #fe743d;

   @media (max-width: 993px) {
      padding: 100px 50px;
   }

   @media (max-width: 601px) {
      padding: 20px;
   }

   #tab-1,
   #tab-2,
   #tab-3 {
      width: 100%;
      display: none;
   }

   #tab-1:target,
   #tab-2:target,
   #tab-3:target {
      display: block;
   }

   #tab-1 {
      padding: 0 50px;
      @media (max-width: 769px) {
         padding: 0;
      }
   }
   .block {
      width: 100%;
      &__email {
         width: 100%;

         .form__label {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;

            p {
               margin: 0 0 30px 25px;
               font-size: 18px;
               font-weight: normal;
               color: #545454;
            }

            input {
               width: 40%;
               color: #001763;
               outline: none;
               border: none;
               background-color: #e3e1f6;
               height: 62px;
               border-radius: 24px;
               padding-left: 25px;
               font-size: 18px;
               font-weight: bold;

               &::placeholder {
                  color: #001763;
               }
               @media (max-width: 993px) {
                  width: 100%;
               }
            }
         }
      }
      &__password {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-between;
         label {
            width: 40%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            @media (max-width: 769px) {
               width: 100%;
            }
            p {
               margin: 0 0 30px 25px;
               font-size: 18px;
               font-weight: normal;
               color: #545454;
            }

            input {
               width: 100%;
               color: #001763;
               outline: none;
               border: none;
               background-color: #e3e1f6;
               height: 62px;
               border-radius: 24px;
               padding-left: 25px;
               font-size: 18px;
               font-weight: bold;

               &::placeholder {
                  color: #001763;
               }

               @media (max-width: 769px) {
                  width: 100%;
               }
            }
         }
      }
   }
   &__navigation {
      padding: 0 50px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;
      @media (max-width: 769px) {
         padding: 0;
      }
      a {
         margin-bottom: 10px;
         color: #022ebf;
         padding: 10px 25px;
         border: 1px solid #bacdf0;
         border-radius: 50px;
         font-size: 24px;
         font-weight: normal;
         @media (max-width: 993px) {
            width: 100%;
         }
      }
      .active {
         border: none;
         background-color: #faa420;
         color: #fff;
      }
   }
   &__button {
      text-align: center;
      width: 40%;
      background-color: #346ed4;
      border-radius: 24px;
      padding: 17px 0;
      font-size: 24px;
      color: #fff;
      @media (max-width: 993px) {
         width: 100%;
      }
   }
}

.table {
   &__title {
      background-color: #f4f4f4;
   }
   &__title,
   &--item {
      padding: 10px 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 24px;
      color: #6f6f72;
      @media (max-width: 769px) {
         font-size: 12px;
      }
      @media (max-width: 601px) {
         padding: 10px 0;
      }
   }
   &--item {
      color: #3a3a3a;
      font-size: 18px;
      font-weight: normal;
      &:nth-child(odd) {
         background-color: #f4f4f4;
      }
      @media (max-width: 425px) {
         font-size: 12px;
      }
   }
}

#tab-3 {
   .table {
      &--item {
         p {
            flex: 0 1 33.333%;
         }
      }
   }
   .partner__link {
      &--title {
         margin-bottom: 30px;
         padding-left: 50px;
         color: #022ebf;
         font-size: 24px;
         @media (max-width: 601px) {
            padding: 0;
         }
      }
      xmp {
         white-space: break-spaces;
      }
      p {
         flex: 0 1 100%;
      }
   }
   .minimal-text {
      color: #464648;
      font-size: 18px;
      font-weight: normal;
      padding-left: 50px;
      @media (max-width: 601px) {
         padding: 0;
      }
   }
}